
@media screen and (max-width: 991px) {
  .menu-icon:checked + label,
  .menu-icon:not(:checked) + label{
    right: 55px;
  }
  .logo {
    left: 30px;
  }
  .nav{
    right: 30px;
  }
  /* .glowing{
    font-size: 9vw;
    -webkit-text-stroke: 2px transparent;
    text-stroke: 2px transparent;
    -webkit-text-fill-color: #ffeba7;
    text-fill-color: #ffeba7;
    color: #ffeba7;
  } */
  .nav ul li a{
    font-size: 8vh;
  }
}





@media screen and (max-width: 768px) {
  /* WHO ARE WE - Mobile View */
  .waw-header {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .waw-header-content {
    max-width: 100%;
    text-align: center;
  }

  .waw-header-content h2 {
    font-size: 32px;
  }

  .waw-header-content h1 {
    font-size: 48px;
  }

  .waw-header-content p {
    font-size: 14px;
    text-align: center !important;
  }
  .buttons-wrapper {
    justify-content: center;
  }

  .header-img img {
    width: 20rem;
    margin-top: 1rem;
  }

  /* ABOUT US - Mobile View */
  .about-title {
    font-size: 3rem;
  }

  .about-text p {
    font-size: 1.2rem;
    text-align: center;
  }
  .projects-title {
    font-size: 2.5rem;
  }
    /* Project Details- Mobile View */
    /* .project-details-wrapper { 
  width: 95%;
}
.project-details-wrapper p {
  font-size: .7rem;
}
.pro-description{
    flex-direction: column;
    
    
}
.project-img {
  overflow: hidden;
  height: 300px;


  width: 250px;
 
} */
}

@media screen and (max-width: 480px) {
  /* WHO ARE WE - Small Mobile View */
  .waw-header-content h2 {
    font-size: 28px;
  }

  .waw-header-content h1 {
    font-size: 40px;
  }

  .waw-header-content p {
    font-size: 12px;
    text-align: center !important;
  }

  .header-img img {
    width: 18rem;
  }

  .about-title {
    font-size: 3.5rem;
  }

  .about-text p {
    font-size: 1rem;
  }
  .projects-title {
    font-size: 1.5rem;
  }
}



/* Mobile first approach */
@media (max-width: 768px) {
  .project-details-wrapper {
    width: 100%;
  }

  .pro-description {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .project-img{
    width: 80%  !important;
    height: auto;
    margin: 1rem 0;
  }

  .project-info {
    width: 80% !important;
    text-align: center;
  }

  .tech-row, .tech-item {
    width: 80%;
    text-align: left !important;
    justify-content: space-between;
  }

  .screen-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .screen-info {
    text-align: right;
    width: 90% !important;
  }


.screen-wrapper {
    width: 88% !important;
  flex-direction: column;
  
}
.pro-screens{
    display: flex;
    align-items: end !important;
    justify-content: end !important;
}
.screen-wrapper h3,p {
    display: flex;
    align-items: end !important;
  text-align: right;
    
}
 .screen {
    width: 90% !important;
    margin: 0 auto;
    background-size: cover !important;
}
body {
  overflow-x: hidden;
}
.skills{
    padding-bottom: 3rem;
}
.services-title{
    padding-top: 2rem;
    font-size: 2rem;
}
.team-title{
    font-size: 2rem;
}
.contact-title {
  font-size: 2rem;
}

.contact-form {

  padding: 20px;
  display: flex;
  flex-direction: column;
  
}
.contact-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin: 0 auto;
  height: 100%; /
}


 .contact-form , .row100{
    margin-top: .5rem;
 }
 
 input[type="submit"]{
  margin-top: 10rem;
  
 }

.contact-img, .contact-form {
  width: 90% !important; 
}
.contact-form .row100 .col {
  margin: 10px 0 !important; 
}
.contact-form{
  width: 100%;
  
}
}

